**/.idea/
**/build/
**/out/
**/.allure/
**/allure-results/
.gradle/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### infrastructure ###
**/selenoid/video/
**/selenoid/logs

jenkins/jenkins/updates/default.json
/jenkins/jenkins/*
!jenkins/jenkins/updates/
!jenkins/jenkins/jobs/
jenkins/jenkins/jobs/UI_API/*
!jenkins/jenkins/jobs/UI_API/config.xml

**/actual_screenshot/*[.png,.gif]
